<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>users</title>
</head>
<body>
  <h1>Users List!</h1>
  <ul>
    <% for(let user of results) {  %>
      <li><%= user.name %> is <%= user.age %>. Email: <%= user.email %> </li>
    <% } %>
  </ul>
</body>
</html>