@import '_variable';

body {
  background-color: $brand-color;
  color: $second-color;
}

h1 {
  font-size: 30px;
}

/* Profile */
#profile {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  padding: 60px 30px;
  transition: all 1s ease;
  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  .profile-pic {
    width: 300px;
    border-radius: 50%;
  }
}

