.sub-heading {
  font-size: 40px;
  color: darkblue;
  background-color: #2ad36c;
}

.cat-img {
  background-color: aqua;
  width: 600px;
  /* padding: 50px 50px 50px 50px; */
  border: solid #e36666 40px;
  border-radius: 10px;
  margin:  50px 50px 50px 50px
}

.move {
  display: flex;
  justify-content: space-around;
}

#top-header {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
}

#top-header .left {
  display: flex; 
}

#top-header .left h2 {
  color: rgba(255,255,255,0.55);
  padding: 0 15px 0 15px;
  font-family: 'Open Sans', sans-serif;
}

#top-header .right {
  display: flex;
}

#top-header .right h2 {
  color: rgba(255,255,255,0.55);
  padding: 0 15px 0 15px;
}